/* HTML CSS config */
a {
  cursor: pointer;
}

html,
body {
  font-family: 'Raleway', sans-serif; 
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  color: #525951
}

h1 {
  font-size: xx-large;
}

p {
  margin: 0;
  padding-bottom: 20px;
  max-width: 900px;
}

div {
  padding-bottom: 15px;
}

section {
  padding-bottom: 20px;
}

ul {
  margin-top: 0;
}

li {
  padding-bottom: 5pt;
  font-size: 11pt;
}

a {
  font-size: 11pt;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15%;
  padding-top: 60px;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15%;
}

#interactive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15%;
}

#ux {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

#dynamic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#outro {
  height: 40px
}

.dropdown {
  font-size: '10pt';
  padding-right: 80px;
}

.bump_bottom {
  margin-bottom: 10px;
}

.bump_left {
  margin-left: 10px;
}

.clean {
  text-decoration: none;
  border: none;
  color: auto
}

.tight {
  padding-top: 0;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.label {
  font-size: 10pt;
}

.source {
  font-weight: bold;
  font-size: 11pt;
}

.dataset {
  font-style: italic;
  font-size: 11pt;
}

/* Scrollama CSS Config */
article {
  position: relative;
  padding: 0 1rem;
  max-width: 15rem;
}

figure {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: sticky;
}

#scrolly {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: flex-start;
  margin-left: 15%;
}

#scrollfig {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: absolute;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2rem auto;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #ffffff;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active p{
  color: #525951;
}

.step p {
  text-align: left;
  text-justify: center;
  font-size: 11pt;
  color: lightgray
}
