
a {
  cursor: pointer;
}

html,
body {
  /* background: #D6D6CE; */
  font-family: Arial, Helvetica, sans-serif; 
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  color: #333333
}

p {
  margin: 0;
  /* padding-top: 20px; */
  padding-bottom: 20px;
}

/* text {
  font-size: 9pt;
} */

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* width: 100%; */
  margin-right: 15%;
  margin-left: 15%;
  padding-top: 60px;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* width: 100%; */
  margin-right: 15%;
  margin-left: 15%;
}

#interactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin-right: 15%;
  margin-left: 15%;
  /* border: thin solid black */
}

#ux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-right: 15%;
  margin-left: 15%; */
  /* border: thin solid purple */
}

#dynamic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-right: 15%;
  margin-left: 15%; */
  /* border: thin solid red */
}

.dropdown {
  font-size: '10pt';
  padding-left: 40px;
  padding-right: 40px;
}

.bump_bottom {
  margin-bottom: 10px;
}

.bump_left {
  margin-left: 10px;
}

.clean {
  text-decoration: none;
  border: none;
  color: auto
}

.tight {
  padding-top: none;
  padding-bottom: none;
}

.label {
  font-size: 10pt;
}

#scrolly {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: white;
  /* padding: 1rem; */
  margin-right: 15%;
  margin-left: 15%;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  padding: 0 1rem;
  max-width: 20rem;
}

figure {
  display: flex;
  flex-direction: row;
  position: sticky;
  width: 800px;
  height: 800px;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #8a8a8a; */
  z-index: 0;
  border: thin solid black
}

#scrollfig {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* font-size: 8rem;
  font-weight: 900; */
  /* color: #fff; */
}

.step {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto 2rem auto;
  /* background-color: #3b3b3b; */
  color: #fff;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active p{
  /* background-color: goldenrod; */
  color: #3b3b3b;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 12pt;
  color: lightgray
}

#outro {
  padding-top: 200px;
}


svg {
  /* border: thin solid red */
}


/* DELETE THESE LATER */
#bar{
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  margin-left: 15%;
  padding-bottom: 200px;
}

#smalllines{
  display: flex;
  flex-direction: row;
  margin-right: 15%;
  margin-left: 15%;
  padding-bottom: 200px;
}
