/* HTML CSS config */
a {
  cursor: pointer;
}

html,
body {
  font-family: 'Raleway', sans-serif; 
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  color: #525951
}

h1 {
  font-size: 48pt;
  margin-bottom: 10px;
  color: #81d06e;
}

h2 {
  padding-bottom: 5px;
  border-bottom: thick solid #81d06e;
}

h4 {
  margin-top: 0;
  color: #81d06e;
}

p {
  font-size: 14pt;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 3px;
  max-width: 900px;
}

div {
  padding-bottom: 15px;
}

ul {
  margin-top: 0;
}

li {
  padding-bottom: 5pt;
  font-size: 12pt;
}

a {
  font-size: 12pt;
}

#header {
  padding-top: 40px;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15%;
}

#interactive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#uxline {
  margin-top: 20px;
  padding-top: 20px;
}

#ux {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

#dynamic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#datacredits {
  padding-top: 20px;
}

#outro {
  height: 40px;
  padding-bottom: 5%
}

.dropdown {
  font-size: '10pt';
  font-weight: bold;
  padding-right: 80px;
}

.addendum {
  margin-left: 15%;
  margin-top: -20px;
  padding-top: 0px;
}

.label {
  font-size: 10pt;
}

.steptitle {
  font-weight: bold;
  font-size: 12pt;
}

.source {
  font-weight: bold;
  font-size: 12pt;
}

.dataset {
  font-style: italic;
  font-size: 12pt;
}

.note {
  font-size: 11pt;
}

.bump_bottom {
  margin-bottom: 10px;
}

.bump_top {
  margin-top: 10px;
}

.bump_left {
  margin-left: 10px;
}

.clean {
  text-decoration: none;
  border: none;
  color: auto
}

.tight {
  padding-top: 0px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}


/* Scrollama CSS Config */
article {
  position: relative;
  padding: 0 1rem;
  max-width: 15rem;
}

figure {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: sticky;
}

#scrolly {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: flex-start;
  margin-left: 15%;
  padding-bottom: 20px;
  margin-top: 40px;
}

#scrollfig {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: absolute;

}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active p {
  text-align: left;
  color: #525951;
}

.step.is-active .steptitle {
  font-weight: bold;
  font-size: 12pt;
  border-bottom: medium solid #81d06e;
}

.step p {
  text-align: left;
  text-justify: center;
  font-size: 12pt;
  color: lightgray
}
